<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>Spring 練習問題 基礎編 Practice8-04</h1>

データベース操作(JPQL) @Queryの利用
<hr>
<p>
<h4>属する商品の多い順に種別一覧を表示</h4>
<table>
<tr>
<td>種別ID</td>
<td>種別名</td>
</tr>
<tr>
<td>1</td>
<td>ぶどう</td>
</tr>
<tr>
<td>2</td>
<td>柑橘類</td>
</tr>
<tr>
<td>8</td>
<td>ナッツ類</td>
</tr>
<tr>
<td>5</td>
<td>ベリー類</td>
</tr>
<tr>
<td>7</td>
<td>桃</td>
</tr>
<tr>
<td>3</td>
<td>りんご</td>
</tr>
<tr>
<td>4</td>
<td>和梨</td>
</tr>
<tr>
<td>9</td>
<td>その他</td>
</tr>
</table>
</p>

</body>
</html>